<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('public', path='/style.css') }}" />
        <title>{{ PageHeading | default('NLP Task') }}</title>
    </head>

    <body id="Body">
        <h2 id="PageTitle">{{ PageHeading | default('NLP Task') }}</h2>
        <main id="Main">
            <form action="/Api/Generate" method="post" id="HighlightGenerationForm">
                <label for="PaperContent">Give Your Abstract</label>
                <textarea
                    name="PaperContent"
                    id="PaperContent"
                    rows="10"
                    title="Paper Content"
                    minlength="1"
                    required
                >Despite the recent success achieved by several two-stage prototypical networks in few-shot named entity recognition (NER) task, the over-detected false spans at span detection stage and the inaccurate and unstable prototypes at type classification stage remain to be challenging problems. In this paper, we propose a novel Type-Aware Decomposed framework, namely TadNER, to solve these problems. We first present a type-aware span filtering strategy to filter out false spans by removing those semantically far away from type names. We then present a type-aware contrastive learning strategy to construct more accurate and stable prototypes by jointly exploiting support samples and type names as references. Extensive experiments on various benchmarks prove that our proposed TadNER framework yields a new state-of-the-art performance.
                </textarea>

                <label for="PreferredModel">Select Preferred Model</label>
                <select name="PreferredModel" id="PreferredModel" required>
                    {%- for Model in Models %}
                    <option value="{{ Model.hf_model_id }}" data-task="{{ Model.task.value }}">
                        {{ Model.display_name }}
                    </option>
                    {%- endfor %}
                </select>

                <label for="MaximumTokens">Maximum Tokens</label>
                <input type="number" name="MaximumTokens" id="MaximumTokens" min="1" value="100" step="1" required />

                <input
                    type="submit"
                    form="HighlightGenerationForm"
                    id="GenerateHighlightButton"
                    value="Generate Highlight"
                />
            </form>
            <section>
                <h3 id="GeneratedHighlightTitle">Generated Highlights</h3>
                <p id="GeneratedHighlight">Not Generated Yet</p>
            </section>
        </main>

        <script src="{{ url_for('public', path='/script.js')}}"></script>
    </body>
</html>
