<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('public', path='/style.css') }}" />
        <title>{{ PageHeading | default('NLP Task') }}</title>
    </head>

    <body id="Body">
        <h2 id="PageTitle">{{ PageHeading | default('NLP Task') }}</h2>
        <main id="Main">
            <form action="/Api/Generate" method="post" id="HighlightGenerationForm">
                <label for="PaperContent">Give Your Abstract</label>
                <textarea
                    name="PaperContent"
                    id="PaperContent"
                    rows="10"
                    title="Paper Content"
                    minlength="1"
                    required
                >There is a lack of quantitative measures to evaluate the progression of topics through time in dynamic topic models (DTMs). Filling this gap, we propose a novel evaluation measure for DTMs that analyzes the changes in the quality of each topic over time. Additionally, we propose an extension combining topic quality with the model’s temporal consistency. We demonstrate the utility of the proposed measure by applying it to synthetic data and data from existing DTMs, including DTMs from large language models (LLMs). We also show that the proposed measure correlates well with human judgment. Our findings may help in identifying changing topics, evaluating different DTMs and LLMs, and guiding future research in this area.
                </textarea>

                <label for="PreferredModel">Select Preferred Model</label>
                <select name="PreferredModel" id="PreferredModel" required>
                    {%- for Model in Models %}
                    <option value="{{ Model.hf_model_id }}" data-task="{{ Model.task.value }}">
                        {{ Model.display_name }}
                    </option>
                    {%- endfor %}
                </select>

                <label for="MaximumTokens">Maximum Tokens</label>
                <input type="number" name="MaximumTokens" id="MaximumTokens" min="1" value="100" step="1" required />

                <input
                    type="submit"
                    form="HighlightGenerationForm"
                    id="GenerateHighlightButton"
                    value="Generate Highlight"
                />
                <div id="GitHubLink" style="margin-top: 0.5rem; font-size: 0.9rem;">
               🔗 Please follow the project on 
                <a href="https://github.com/tohidarehman/HighlightsGeneration-MixSub" target="_blank">
               GitHub
               </a>
               </div>
            </form>
            <section>
                <h3 id="GeneratedHighlightTitle">Generated Highlights</h3>
                <p id="GeneratedHighlight">Not Generated Yet</p>
            </section>
        </main>

        <script src="{{ url_for('public', path='/script.js')}}"></script>
    </body>
</html>
